<div id="header">
  <h1>you are a shark</h1>
</div>

<div id="container">
  <div id="sign">

    <h3>EDIT</h3>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, :autocomplete => "off" %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

      <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password %></div>

      <div><%= f.submit "UPDATE" %></div>
    <% end %>

    <h3>LEAVE US FOREVER</h3>

    <p>unhappy? <%= button_to "this won't fix it", registration_path(resource_name), :data => { :confirm => "are you sure?" }, :method => :delete %></p>

    <%= link_to "back!", :back %>

  </div>

  <div id="stats">

    <h3>STATS</h3>

    <% if current_user %>
      <% if user_signed_in? %>
        <ul>
          <h3> You've played <%= current_user.num_plays %> times! </h3>
          <h3> Your highest score is <%= current_user.high_score %>! </h3>
        </ul>
      <% end %>
    <% end %>

  </div>
</div>