<!DOCTYPE html>
<html>
<head>
  <title>Shark</title>
  <%= @stylesheets.collect { |file| stylesheet_link_tag file, media: "all" }.join("\n").html_safe if @stylesheets %>
  <%= stylesheet_link_tag  "application", media: "all" %>
  
 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
